:root {
  --aside-width: 400px;
  --cart-aside-summary-height-with-discount: 300px;
  --cart-aside-summary-height: 250px;
  --grid-item-width: 355px;
  --header-height: 64px;
  --color-dark: #000;
  --color-light: #fff;
  --color-contrast: 0, 0%, 100%; /* Ejemplo de un color HSL */
  --bg-opacity: 0.7; /* Ejemplo de opacidad */
}

img {
  border-radius: 4px;
}

/*
* --------------------------------------------------
* components/Aside
* --------------------------------------------------
*/
aside {
  background: var(--color-light);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  height: 100vh;
  max-width: var(--aside-width);
  min-width: var(--aside-width);
  position: fixed;
  right: calc(-1 * var(--aside-width));
  top: 0;
  transition: transform 200ms ease-in-out;
}

aside header {
  align-items: center;
  border-bottom: 1px solid var(--color-dark);
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  padding: 0 20px;
}

aside header h3 {
  margin: 0;
}

aside header .close {
  font-weight: bold;
  opacity: 0.8;
  text-decoration: none;
  transition: all 200ms;
  width: 20px;
  color: black;
}

aside header .close:hover {
  opacity: 1;
}

aside header h2 {
  margin-bottom: 0.6rem;
  margin-top: 0;
}

aside main {
  margin: 1rem;
}

aside p {
  margin: 0 0 0.25rem;
}

aside p:last-child {
  margin: 0;
}

aside li {
  margin-bottom: 0.125rem;
}

.overlay {
  background: rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 400ms ease-in-out;
  transition: opacity 400ms;
  visibility: hidden;
  z-index: 10;
}

.overlay .close-outside {
  background: transparent;
  border: none;
  color: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: calc(100% - var(--aside-width));
}

.overlay .light {
  background: rgba(255, 255, 255, 0.5);
}

.overlay .cancel {
  cursor: default;
  height: 100%;
  position: absolute;
  width: 100%;
}

.overlay:target {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
/* reveal aside */
.overlay:target aside {
  transform: translateX(calc(var(--aside-width) * -1));
}


/*
* --------------------------------------------------
* components/Cart
* --------------------------------------------------
*/
.cart-main {
  height: 100%;
  max-height: calc(100vh - var(--cart-aside-summary-height));
  overflow-y: auto;
  width: auto;
}

.cart-main.with-discount {
  max-height: calc(100vh - var(--cart-aside-summary-height-with-discount));
}

.cart-line {
  display: flex;
  padding: 0.75rem 0;
}

.cart-line img {
  height: 100%;
  display: block;
  margin-right: 0.75rem;
}

.cart-summary-page {
  position: relative;
}

.cart-summary-aside {
  background: white;
  border-top: 1px solid var(--color-dark);
  bottom: 0;
  padding-top: 0.75rem;
  position: absolute;
  width: calc(var(--aside-width) - 40px);
}

.cart-line-quantity {
  display: flex;
}

.cart-discount {
  align-items: center;
  display: flex;
  margin-top: 0.25rem;
}

.cart-subtotal {
  align-items: center;
  display: flex;
}
/*
* --------------------------------------------------
* components/Search
* --------------------------------------------------
*/
.predictive-search {
  /* height: calc(100vh - var(--header-height) - 40px); */
  overflow-y: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.predictive-search-form {
  width: 100%;
  background: var(--color-light);
  position: sticky;
  top: 0;
}

.predictive-search-result {
  margin-bottom: 2rem;
  a{
    color: black;
    p{
      color: black;
    }
  }
}

.search_all{
  color: black;
  p{
    color: black;
  }
}

.predictive-search-result h5 {
  text-transform: uppercase;
}

.predictive-search-result-item {
  margin-bottom: 0.5rem;
}

.predictive-search-result-item a {
  align-items: center;
  display: flex;
}

.predictive-search-result-item a img {
  margin-right: 0.75rem;
  height: 100%;
}

.search-result {
  margin-bottom: 1.5rem;
}

.search-results-item {
  margin-bottom: 0.5rem;
}

.search-results-item a {
  display: flex;
  flex: row;
  align-items: center;
  gap: 1rem;
}

.search_container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.search_button {
  margin-top: 0 !important;
  background: black;
  cursor: pointer;
  border: none;
  margin-top: 30px;
  padding: 10px 32px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  border-radius: 12px;
  text-decoration: none;
}


.search_button:hover {
  background: white;
  color: black;
}

.search_button:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    red,
    blue,
    deeppink,
    blue,
    red,
    blue,
    deeppink,
    blue
  );
  background-size: 800%;
  border-radius: 12px;
  filter: blur(8px);
  animation: glowing 20s linear infinite;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.search{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1{
    color: white;
  }
  p{
    color: white;
  }
  form{
    width: 500px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    button {
      margin-top: 0 !important;
      background: white;
      cursor: pointer;
      border: none;
      margin-top: 30px;
      padding: 10px 32px;
      color: black;
      font-size: 18px;
      font-weight: bold;
      position: relative;
      border-radius: 12px;
      text-decoration: none;
    }
    
    
    button:hover {
      background: black;
      color: white;
    }
    
    button:hover::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        45deg,
        red,
        blue,
        deeppink,
        blue,
        red,
        blue,
        deeppink,
        blue
      );
      background-size: 800%;
      border-radius: 12px;
      filter: blur(8px);
      animation: glowing 20s linear infinite;
    }
  }
}

.search-result{
  h2{
    color: white;
  }
}

/*
* --------------------------------------------------
* routes/__index
* --------------------------------------------------
*/
.featured-collection {
  display: block;
  margin-bottom: 2rem;
  position: relative;
}

.featured-collection-image {
  aspect-ratio: 1 / 1;
  @media (min-width: 45em) {
    aspect-ratio: 16 / 9;
  }
}

.featured-collection img {
  height: auto;
  max-height: 100%;
  object-fit: cover;
}

.recommended-products{
  margin-top: 30px;
  margin-bottom: 30px;
  h2{
    text-align: center;
    font-size: 35px;
    color: white;
    margin-bottom: 20px;
  }
}

.recommended-products-grid {
  display: grid;
  padding: 0 20px 0 20px;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  @media (min-width: 45em) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.recommended-product img {
  height: auto;
}

/*
* --------------------------------------------------
* routes/collections._index.tsx
* --------------------------------------------------
*/
.collection {
  width: 100%;
  margin: 0 20px 0 20px;
}

.collections-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.collection-item img {
  height: auto;
}

/*
* --------------------------------------------------
* routes/collections.$handle.tsx
* --------------------------------------------------
*/
.collection-description {
  margin-bottom: 1rem;
  max-width: 95%;
  @media (min-width: 45em) {
    max-width: 600px;
  }
}

.products-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.product-item img {
  height: auto;
  width: 100%;
}

/*
* --------------------------------------------------
* routes/products.$handle.tsx
* --------------------------------------------------
*/
.product {
  display: grid;
  @media (min-width: 45em) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }
}

.product h1 {
  margin-top: 0;
}

.product-image img {
  height: auto;
  width: 100%;
}

.product-main {
  align-self: start;
  position: sticky;
  top: 6rem;
}

.product-price-on-sale {
  display: flex;
  grid-gap: 0.5rem;
}

.product-price-on-sale s {
  opacity: 0.5;
}

.product-options-grid {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 0.75rem;
}

.product-options-item {
  padding: 0.25rem 0.5rem;
}

/*
* --------------------------------------------------
* routes/blog._index.tsx
* --------------------------------------------------
*/
.blog-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.blog-article-image {
  aspect-ratio: 3/2;
  display: block;
}

.blog-article-image img {
  height: 100%;
}

/*
* --------------------------------------------------
* routes/blog.$articlehandle.tsx
* --------------------------------------------------
*/
.article img {
  height: auto;
  width: 100%;
}

/*
* --------------------------------------------------
* routes/account
* --------------------------------------------------
*/

.account-logout {
  display: inline-block;
}

/*
* --------------------------------------------------
* policies
* --------------------------------------------------
*/

.policy{
  width: 50%;
  margin-top:70px;
  color: white;
}

.home{
  width: 100%;
  height: 100%;
}

/*
* --------------------------------------------------
* img
* --------------------------------------------------
*/

.img_top{
  height: calc(100vh - 42.4px);
  filter: brightness(0.3);
  width: 100%;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden; /* Evita el scroll horizontal */
  background-color: black; /* Ajusta según tu diseño */
}

.name_company {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 80px;
  transform: translate(-50%, -50%);
  color: white;
  clip-path: inset(0 100% 0 0);
  animation: slideInFromRight 1.8s forwards;
}

.text {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  font-size: 25px;
  font-weight: 400;
  color: white;
  text-align: center;
  clip-path: inset(0 100% 0 0);
  animation: slideInFromRight 2s forwards;
}

/* @keyframes slideInFromLeft {
  to {
    clip-path: inset(0 0 0 0);
  }
} */

@keyframes slideInFromRight {
  to {
    clip-path: inset(0 0 0 0);
  }
}


/*
* --------------------------------------------------
* contact
* --------------------------------------------------
*/

/*
* --------------------------------------------------
* layout
* --------------------------------------------------
*/

.video_container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  width: 100%;
  /* video{
    width: 80%;
    border-radius: 20px;
  } */
}

.video_container video {
  width: 80%;
  border-radius: 20px;
  opacity: 0;
  transform: scale(0.5);
  transition: transform 1s ease, opacity 1s ease;
}

.video_container.show video {
  opacity: 1;
  transform: scale(1);
}

.collection{
  width: 80%;
  /* min-height: 200vh; */
  h1{
    color: white;
  }
  p{
    color: white;
  }
}

.collection_container{
  margin-top: 50px;
}

@media (max-width: 700px) {

  .name_company{
    font-size: 70px;
  }
  
  .text{
    top: 65%;
    font-size: 20px;
    width: 90%;
  }

  .recommended-products{
    h2{
      font-size: 28px;
    }
  }

}

@media (max-width: 550px) {

  .name_company{
    font-size: 60px;
  }
  
  .text{
    top: 65%;
    font-size: 20px;
    width: 90%;
  }

}

@media (max-width: 450px) {

  .name_company{
    font-size: 40px;
  }
  
  .text{
    top: 65%;
    font-size: 16px;
    width: 90%;
  }

}


@media (min-width: 700px) and (max-width: 1400px){
  
  .text{
    top: 70%;
    text-align: center;
  }

  
}

